/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 840px;
}

.container-narrow > hr {
  margin: 30px 0; 
}

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  color: #bbb;}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }


.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  border-radius: 3px;
  text-decoration: none;

  color: #017e66;
  background-color: rgba(1,126,102,.08);
  border:0;
  text-align: center;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #017e66;
  color: #fff;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.posts li span {
  float: right;
  color: #bbb;
}
.posts{
    margin-left:0px;
}
.posts li {
  list-style: none;
  line-height: 30px;
  padding: 5px 3px;
}
.home-nav {
  font-size: 16px;
}
.home-nav a {
  margin:0px 24px 0px 0px;
}

/*清除浮动*/
.clearfix {
  zoom: 1; 
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
        
}
/*文章内容边距调整*/
.public-ContentBorder{
  margin: 100px 0 0 0;
  display: block;
}
/*代码块颜色重置*/
.public-CodeModel{
  background: #fdf6e3;
}
/*小标题*/
.public-HeadLine{
  font-size: 22px;
  text-shadow: 3px 2px 0 #ccc;
}
/*参考*/
.public-Reference{
  background-color: #fdf6e3;
  margin: 0 0 10px;
  padding: 9.5px;
  border-radius: 4px;
}
.public-Reference p span{
  color: #009a61;
}
/*底部置底*/
.public-Footer{
  position: fixed;
  bottom: 5px;
}










