/**
 * style.default
 */
* {
	margin: 0;
	list-style:none; 
	text-decoration:none; 
	word-break: break-all; 
	word-wrap: break-word;
}

html{
	width:98%;
	margin: 0 auto; 
	height: 100%;
	max-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow: -moz-scrollbars-vertical;
}

body {
    background-color: #ffffff;
/*     background-image: url("../../images/bg/bg.jpg"); */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
    margin:0px;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
  	padding: 0px;
    height: 100%;
	max-height: 100%;
}

body, th, td, input, select, textarea, button  
{
    font-size:12px;
    font-family:Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; 
}
/*
input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea {
    border-radius: 0 !important;
    color: #858585;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s
}

input[type=email]:hover, input[type=url]:hover, input[type=search]:hover, input[type=tel]:hover, input[type=color]:hover, input[type=text]:hover, input[type=password]:hover, input[type=datetime]:hover, input[type=datetime-local]:hover, input[type=date]:hover, input[type=month]:hover, input[type=time]:hover, input[type=week]:hover, input[type=number]:hover, textarea:hover {
    border-color: #b5b5b5
}

input[type=email]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus, input[type=text]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #696969;
    border-color: #F59942;
    background-color: #FFF;
    outline: 0
}
*/

/*
*::selection { 
	background: #0099cc; 
}
*::-moz-selection { 
	background: #0099cc; 
}

a {
	color: #3B5998;
	text-decoration: none;
}
a:hover{
	color: #b30000;
	text-decoration:underline;
}
a:focus {
  color: #005580;
  text-decoration: underline;
}
a img { 
	border: none; 
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover, a:active {
  outline: 0;
}
*/

input:focus, textarea:focus { 
	border-color: #0099cc; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
}

h1 {
    font-size: 32px
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 22px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 13px
}

ol, ul {
    padding: 0;
    margin: 0 0 10px 25px
}

li > ol, li > ul {
    margin-left: 18px
}

input[type=text] { 
	border:solid 1px #ccc; padding-left:4px; 
}
input { 
	border: expression((this.type=='text') ? "1px solid #ccc" : "0" ); 
}
textarea{
	border:solid 1px #ccc;
}
input,select,textarea {
	border-radius: 3px; -moz-border-radius: 3px;-webkit-border-radius:3px;
}
select { 
	padding:2px; border:solid 1px #ccc; 
}

p {
	margin:4px 0px; 
	padding:2px 0px; 
}
img { 
	max-width:98%; 
}

label {
    font-weight: 400;
    font-size: 14px
}

td > label, th > label {
    margin-bottom: 0;
    line-height: inherit;
    vertical-align: middle
}
