@charset "utf-8";
/*** General::Reset ***/

html {-webkit-text-size-adjust:100%;}
html,body{height:100%;}

*::-webkit-scrollbar{width:0;}
*::-moz-focus-inner{border:none;padding:0;}
*{font-family:"microsoft yahei";word-wrap:break-word;margin:0;padding:0;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;box-sizing: border-box!important;}

*,
*:before,
*:after {
    box-sizing: border-box
}
*::selection { 
	background: #0099cc; 
}
*::-moz-selection { 
	background: #0099cc; 
}

/* Preset */
body{overflow:auto;color:#4f5f6f;line-height:1.65;font-size:14px;}
body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}

button,input,optgroup,select,textarea{color:inherit;font:inherit;outline:none;}
a,button,input[type="button"]{cursor:pointer;}
i,em,address,cite{font-style:normal;}
ol,ul{list-style-type:none;}
input[type="search"]::-webkit-search-cancel-button{display:none;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
area{text-decoration:none;outline:none;color:inherit;}
input::-webkit-input-placeholder,input::-moz-placeholder{color:inherit;line-height:1;}

article,aside,dialog,footer,header,section,footer,nav,menu,figure,figcaption{display:block;}

input[type="radio"],input[type="checkbox"]{vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
input[type="search"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input[type="file"]{display:block}
input[type="range"]{display:block;width:100%}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus
{	
	outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px
}
input[type="button"],input[type="submit"],input[type="text"]{appearance:none;-webkit-appearance: none;border-radius:0;}

mark{background:none;}

h1{font-size:2em;margin:0.67em 0}
h2 {
    font-size: 18px;
    font-weight: 400
}
h4{margin:25px 0}
h5{padding:15px 0 10px 0;margin:0}
.tag {
	display:inline-block;
	padding:0 6px;
	color:#017E66;
	background-color:rgba(1,126,102,0.08);
	height:22px;
	line-height:22px;
	font-weight:normal;
	font-size:13px;
	text-align:center;
	line-height: 1;
}

/*=================== a ===================*/
a {
	color: #969696;
	text-decoration: none;
}
a:hover{
	color: #33be85;
	text-decoration:underline;
}
a:active {
  color: #33be85;
}
a:focus {
  color: #005580;
  text-decoration: underline;
  outline: thin dotted #333;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}
a img { 
	border: none; 
}
a:hover,
a:visited,
a:focus,
a:active {
  outline: 0;
}
a:hover,
a:focus {
    text-decoration: underline
}

/*=================== dialog ===================*/
dialog {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  border: 1px #4bcf99 solid;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 2px;
  z-index: 1986;
}
dialog [class^="icon-"] {
  color: #4bcf99;
}

/*=================== select ===================*/
select {
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  cursor: pointer;
}
select:after {
  content: "\f0dc";
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  top: 0;
}
select:focus {
  border-color: #4bcf99;
}
select[multiple],select[size]{height:auto}

/*=================== textarea ===================*/
textarea {
  resize: vertical;
  width: 100%;
  min-height: 60px;
  padding: 10px!important;
  box-sizing: border-box !important;
  border-color: #ccc;
  
  padding: 10px;
  vertical-align: top;
}
textarea.underlined {
  border: 0 none;
  border-bottom: 1px #ccc solid;
}
textarea:focus {
  	border-color: #4bcf99;
    outline-style: solid;
    outline-width: 2px
}

/*=================== footer ===================*/
footer {
    background: #fff;
    padding: 15px 20px;
    display: block
}

legend {
    padding-bottom: 7px
    font-size: 18px;
    color: inherit
}

form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:bold}

output{display:block;padding-top:7px;font-size:14px;line-height:1.42858;color:#555}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],
template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}
textarea{overflow:auto}

optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
