<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">
	
	<description>
		本文件是为了统一不同环境下的spring配置，
		正常情况下本文件只存储通用配置，不通用的配置请放在别的文件中，并import该文件
	</description>
	
	<context:annotation-config/>
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.yueny.cropui"/>
	<context:component-scan base-package="com.yueny.blog"/>
	<context:component-scan base-package="com.yueny.kapo.core"/>

	<mvc:annotation-driven/>
	
	<!-- 激活自动代理功能
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
	-->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
</beans>
