.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.display-table {
    display: table;
    table-layout: fixed;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
